@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#headerBackground{
    height: 3.125rem;
    width: 100%;
    background-color: #ef5350;
}
.navegation{
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    width: 30%;

}
.divTexto{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;  
}
.icon{
    height: 100%;
    width: 50%;
    padding: 4px 8px;
}
.texto{
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    padding: 0rem 1rem;
}
.texto:nth-child(1){
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #c62828 ;
}
.texto:hover{
    display: flex;
    align-items: center;
    height: inherit;
    background-color: #e94141;
    text-decoration: underline;
}

#oneDivMain{
    
    height: 100%;
    width: 100%;
    background-color: #2f2f2f;
    display: flex;
    justify-content: center;
}
#oneTextDiv{
    background-color: #263238;
    position: relative;
    padding: 2rem ;
    width: 76%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo{
    color: #FFFFFF;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    font-size: 1.75rem
}
.paragrafo{
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
    margin-top: 0.5rem;
    color: #FFFFFF;
}
#twoDivMain{
    height: 100%;
    width: 100%;
    background-color: #eff1f0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#twoTextDiv{
    padding: 20px;
    height: 100%;
    width: 76%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:    #ebf5f0;
}
.p1{
    font-size: 1.25rem;
    font-family: 'Lato', sans-serif;
    color: #263238;
}
.p2{
    font-size: 1.25rem;
    font-family: 'Lato', sans-serif;
    margin: 0.5rem 0rem;
    color: #263238;


}
.p3{
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
    margin: 8px 0;
    text-decoration: none;
    color: rgba(0,116,236,.9294117647058824);
}
.p3:hover{
    background-color: #Bbeffd4d;
    text-decoration: underline;
}